{% verbatim %}
<div class="container">
  <div class="row">
    <div class="span3">
      <!--Sidebar content-->

      Search: <input ng-model="query" class="input-block-level">
      Sort by:
      <select ng-model="orderProp" class="input-block-level">
        <option value="title">Alphabetical</option>
        <option value="created">Newest</option>
      </select>

        <ul class="posts nav nav-stacked nav-pills">
            <li ng-repeat="post in posts | filter:query | orderBy:orderProp" class="thumbnail">
                <a ng-click="viewDetail(post)">{{post.title}}</a>
            </li>
        </ul>

    </div>
    <div class="span9">
      <!--Body content-->

        <h2>{{postDetail.title}}
            <small>
                by: {{ postDetail.owner }}
            </small>

        </h2>
        <p>{{postDetail.content}}</p>

    </div>
  </div>
</div>
{% endverbatim %}
