{% verbatim %}

<div class="container">
    <div class="row">
        <div class="span3">
            <!--Sidebar content-->

            Search: <input ng-model="query" class="input-block-level">
            Sort by:
            <select ng-model="orderProp" class="input-block-level">
                <option value="title">Alphabetical</option>
                <option value="created">Newest</option>
            </select>

        </div>
        <div class="span9">
            <!--Body content-->
            <h1>
                {{ post.title }}
                <small>
                    create: {{ post.created }}, by: {{ post.owner }}
                </small>
            </h1>
            <p>
                {{ post.content }}
            </p>

        </div>
    </div>
</div>
{% endverbatim %}
