{% verbatim %}

<div ng-controller="PostListCtrl">
            <!--Body content-->

    <input ng-model="query" placeholder="search" class="search-query input-block-level">

        <div ng-repeat="post in posts.results | filter:query | orderBy:-orderProp">

                <h2>
                    <a ng-click="updateUrl(post.id)">{{post.title}}</a>
                    <small>
                                @{{ post.owner }} |
                                {{ post.created }}
                    </small>
                </h2>

                <div class="clearfix"></div>
                <div class="content">
                    <p ng-bind-html="post.content">

                    </p>
                </div>


        </div>
    <a class="btn" ng-click="appendPosts(posts.next)">Load More</a>

</div>
{% endverbatim %}
