{% verbatim %}
<div ng-controller="PostDetailCtrl">
        <!--Body content-->
        <div>
            <small class="pull-right">
                <dl class="dl-horizontal">
                    <dt>
                        Author :
                    </dt>
                    <dd>
                        {{ post.owner }}
                    </dd>
                    <dt>
                        Posted :
                    </dt>
                    <dd>
                        {{ post.created }}
                    </dd>

                </dl>
            </small>

            <h1>
                {{ post.title }}
            </h1>

            <div class="clearfix"></div>
            <div class="content">
                <p ng-bind-html="postContent">

                </p>
            </div>


        </div>

    </div>
{% endverbatim %}
