{% verbatim %}
<div ng-controller="PostListCtrl">
        <div class="span9">
            <!--Body content-->
            <div>
                <small class="pull-right">
                    <dl class="dl-horizontal">
                        <dt>
                            Author :
                        </dt>
                        <dd>
                            {{ post.owner }}
                        </dd>
                        <dt>
                            Posted :
                        </dt>
                        <dd>
                            {{ post.created }}
                        </dd>

                    </dl>
                </small>

                <h1>
                    {{ post.title }}
                </h1>

                <div class="clearfix"></div>
                <div class="content">
                    <p>
                        {{ post.content }}
                    </p>
                    <a href="#/posts/{{post.id}}" class="btn btn-primary">
                        Read more...
                    </a>
                </div>


            </div>

        </div>
    </div>
{% endverbatim %}
